################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataProvider/v16/Server/sqlite3
/HandleSimFinTests/Properties/launchSettings.json
/HandleSimFinTests/appsettings.json
